/* breakpoint map */
$breakpoints: (
  //for mobile
  'xs': 'screen and (max-width: 768px)',
  //for tablet
  'sm': 'screen and (min-width: 769px)',
  //for desktop
  'md': 'screen and (min-width: 1024px)',
  //for widescreen
  'lg': 'screen and (min-width: 1216px)',
  //for Full HD
  'xl': 'screen and (min-width: 1408px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* layout rule */
section {
  padding: 50px 1rem;
  h1 {
    text-align: center;
    font-weight: 900;
  }
}